* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid white; */
}

body {
  overflow: hidden;
  background: rgb(11, 8, 55);
  background: linear-gradient(
    7deg,
    rgba(11, 8, 55, 1) 50%,
    rgba(61, 74, 77, 1) 100%
  );
}

.back {
  background-color: white;
  color: #000;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
